.header{
    .header-image {
        width: 100%;
    }
    background: $fourth-color;    
    .header-image-container {
        width: 150px;
        align-self: center;
    }
    .header-tiny-image-container{
        width: 80px;
    }
}